.wrapperLogin {
  padding: 30px 20px;
}

.btnSingup {
  width: 100%;
  height: 30px;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  background-color: #efe1fb;
}

.btnSingup:hover,
.btnSingup:focus {
  background-color: blueviolet;
  color: white;
}
