.container {
  display: flex;
  align-items: center;
}

.imgWrapper {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar {
  width: 100%;
}

.name {
  font-weight: 700;
  margin-right: 12px;
}

.btnOut {
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}
